# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\examination-system\SpringBoot-Vue-OnlineExam\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
